button
{
  transition: background-color 0.25s;
}

button:hover
{
  background-color: white;
}

button svg
{
  filter: invert(0%);
  transition: filter 0.25s;
}

button:hover svg
{
  filter: invert(100%);
}

button:active
{
  filter: brightness(0.5);
}

.button-toggled svg
{
  filter: invert(100%);
}

.page-background
{
  display: flex;
  flex-direction: row;
  text-align: left;

  background: #412B6B;

  font-family: "Open Sans";
  font-weight: 1000;
  color: white;

  /*padding: 15px 15px 15px 15px;*/
  padding: 1.59vh 0.79vw;
  margin: 0px 0px 0px 0px;
}

.music-player-main-container
{
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: flex-start;
  
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;

  /*height: 100%;*/
  width: 100%;
}

.musicList
{
  flex: 1;

  background: #211832;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/

  align-self: stretch;

  /*border-radius: 15px;*/
  border-radius: 0.787vw;

  padding: 1.59vh 0.79vw;

  width: auto;
}

.getMusic
{
  background: #F25912;
  color: white;

  font-family: "Open Sans";
  font-weight: 1000;

  align-self: center;

  border: none;
  border-radius: 0.787vw;

  padding: 1.59vh 0.79vw;

  transition: color 0.25s;
}
.getMusic:hover
{
  color: black;
}

.scanned-music-list
{
  overflow-y: scroll;

  /*padding: 1.59vh 0.79vw;*/
  margin: 1.59vh 0vw;

  border-radius: 0.787vw;

  width: auto;
  height: fit-content;
}

.scanned-music-list::-webkit-scrollbar
{
  display: none;
}

.music-list-item
{
  background: #5C3E94;

  border-radius: 0.787vw;

  padding: 1.59vh 0.79vw;
  margin: 1vh 0vw;

  cursor: pointer;

  transition: background 0.25s;
}

.music-list-item:hover
{
  background: #F25912;
}

.now-playing-card
{
  background: #211832;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;

  justify-content: space-around;

  /*border-radius: 15px;*/
  border-radius: 0.787vw;

  padding: 0px 0px 0px 0px;
  /*margin: 0px 15px 0px 0px;*/
  margin: 0vh 0.787vw 0vh 0vw;

  /*height: 915px;
  width: 520px;*/
  width: 27.084vw;
  aspect-ratio: 104 / 183;
  /*height: 96.827vh;*/
}

.now-playing-header-section-div
{
  display: flex;
  flex-direction: row;
  text-align: left;

  align-self: flex-start;

  width: 100%;
  /*height: 6.7vh;*/
  aspect-ratio: 65 / 8;
}

.now-playing-header, .song-name-div, .song-artist-name-div 
{
  /*font-size: clamp(14px, 1.15vw, 22px);*/
  font-size: clamp(8px, 1.15vw, 24px);
}

.song-artist-name-div 
{
  /*font-size: clamp(14px, 1.15vw, 22px);*/
  font-size: clamp(8px, 1.15vw, 20px);
}

.minimize-now-playing-card-button-div
{  
  width: fit-content;
  height: fit-content;
  /*width: 3.334vw;
  height: 6.7vh;*/
}

.minimize-now-playing-card-button
{
  background: none;

  border: none;
  border-radius: 100%;

  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;

  /*width: 64px;
  height: 64px;*/
  width: 3.334vw;
  aspect-ratio: 1 / 1;
  /*height: 6.7vh;*/
}

.minimize-now-playing-card-button-icon
{
  object-fit: cover;

  height: auto;
  width: auto;
}

.now-playing-header-div
{
  flex: 1;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center ;

  padding: 0px 0px 0px 0px;
  margin: 0px 3.334vw 0px 0px;
}

.now-playing-header
{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;

  height: fit-content;
  width: fit-content;
}

.album-cover-div
{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;

  /*height: 480px;
  width: 480px;
  width: 25vw;
  height: 50.795vh;*/
  width: 92.31%;
  aspect-ratio: 1 / 1;
  /*height: 52.46%;*/
}

.album-cover
{
  /*border-radius: 15px;*/
  border-radius: 0.787vw;

  /*object-fit: fill;*/
  object-fit: cover;

  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;

  transition: opacity 0.4s ease;

  height: 100%;
  width: 100%;
}

.song-info-and-control-div
{
  flex: 1;
  display: flex;
  flex-direction: column;

  justify-content: space-around;

  align-items: center;
  text-align: center;
  align-self: flex-start;

  /*padding: 20px 0px 0px 0px;
  padding: 2.116vh 0vw 2.116vh 0vw;*/

  /*width: 100%;*/
  width: 27.084vw;
  aspect-ratio: 520 / 371;
}

.song-name-div, .song-artist-name-div
{
  display: flex;
  flex-direction: column;

  justify-content: center;

  padding: 0vh 1.050vw;

  width: 100%;
  height: fit-content;
}

.song-name, .song-artist-name
{
  flex: 1;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  padding: 0vh 1.050vw;
  margin: 0px 0px 0px 0px;

  width: auto;
}

.song-time-and-bar-div
{
  display: flex;
  flex-direction: column;

  /*width: 100%;*/
  width: 27.084vw;
  aspect-ratio: 10 / 1;
}

.song-time-div
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /*padding: 20px 0px 0px 0px;
  padding: 2.116vh 0vw 0vh 0vw;*/
  padding: 0vh 0vw 0vh 0vw;
  margin: 0px 0px 0px 0px;

  width: 100%;
}

.song-start-time, .song-end-time
{
  /*font-size: clamp(14px, 1.15vw, 22px);*/
  font-size: clamp(8px, 1.15vw, 16px);

  padding: 0px 0px 0px 0px;
  /*margin: 0px 20px 0px 20px;*/
  margin: 0 1.041vw;

  width: fit-content;
}

.song-time-bar-div
{
  display: flex;
  flex-direction: row;
  justify-content: center;

  /*width: 100%;*/
  width: 27.084vw;
  aspect-ratio: 52 / 3;
}

.song-start-time-blank
{
  background: rgb(225, 225, 225);

  /*border-radius: 5px;*/
  border-radius: 0.263vw;
  
  /*margin: 25px 20px 0px 20px;*/
  margin: 2.645vh 1.050vw 0vh 1.050vw;

  width: 100%;
  height: 0.53vh;
}

.song-time-bar-filled
{
  background: #F25912;

  /*border-radius: 5px;*/
  border-radius: 0.263vw;
  
  margin: 0px 0px 0px 0px;

  width: 0%;
  height: 5px;
  /*height: 0.53vh;*/

}

.media-controls-div
{
  display: flex;
  flex-direction: row;

  /*justify-content: space-around;*/
  justify-content: center;
  align-items: center;
  align-self: flex-start;

  /*gap: 25px;*/
  gap: 1.312vw;

  /*padding: 2.12vh 1.05vw 0px 1.05vw;
  padding: 2.12vh 0px 0px 0px;
  margin: 2.12vh 0px 0px 0px;*/

  /*width: 100%;*/
  width: 27.084vw;
  aspect-ratio: 65 / 16;
}

.media-control-button
{
  background: #F25912;

  border: none;
  border-radius: 100%;

  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;

  /*width: 64px;
  height: 64px;*/
  width: 3.334vw;
  aspect-ratio: 1 / 1;
  /*height: 6.7vh;*/

  cursor: pointer;
}

#play-pause-button
{
  /*width: 88px;
  height: 88px;*/
  width: 4.62vw;
  aspect-ratio: 1 / 1;
  /*height: 9.31vh;*/
}

.media-control-button-icon
{
  object-fit: cover;
  
  /*padding: 15px 15px 15px 15px;
  padding: 0.79vw 1.59vh;*/
  
  padding: 1.587vh 0.787vw;

  height: auto;
  width: auto;
}

#play-pause-button-icon
{
  /*padding: 15px 15px 15px 22px;
  padding: 0.79vw 1.59vh;*/
  padding: 1.587vh 0.787vw 1.587vh 1.155vw;

  /*padding-left: 1.155vw 2.328vh;*/
}

#play-pause-pause-button-icon
{
  /*padding: 15px 15px 15px 22px;
  padding: 0.79vw 1.59vh;*/
  padding: 1.587vh 0.787vw 1.587vh 0.787vw;

  /*padding-left: 1.155vw 2.328vh;*/
}